@{
    ViewData["Title"] = "Browse Books";
}

@model OnlineLibrary.Models.ViewModels.BrowseBooksRequest

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to browse books in the library.</p>

    <div class="mb-3" id="search">
        <label for="search">Search for a Book</label>
        <input type="text" class="form-control mb-3" id="inputField" required />
        <button class="btn btn-danger" onclick="createApiCall(document.getElementById('inputField').value)">SEARCH BOOKS</button>
    </div>

    <div class="mb-3" id="result">
        <ul id="books">
        </ul>
    </div>


</div>




@section Scripts
{
    <script src="~/js/apicaller.js"></script>
}